 .note-to-balloters::before {
  white-space: pre;
  content: "Note To Balloters\A ";
  #background-color: yellow;
  color: red;
  font-weight: bold;}
.note-to-balloters, .stu-note{
    margin: 5px;
    padding: 10px;
    border-left-style: solid;
    background-color: #fff2ff;
    border-left-color: #ffa0ff;
}

.stu-note::before {
  white-space: pre;
  content: "Note\A ";
  #background-color: yellow;
  color: red;
  font-weight: bold;}
